.projects{
    width: 70vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 15vh;
    border-radius: 25px;
}

.projects-title{
    width: 100%;
    text-align: start;
    margin-left: 7vw;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3vw;
}

.projects-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin-bottom: 20vh;
}

.project-img{
    width: 45%;
    height: auto;
    border-radius: 25px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.project-content{
    width: 45%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.project-title{
    width: 100%;
    text-align: start;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

.project-description{
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    color: #71717A;
    margin-bottom: 0;
    margin-top: 0;
}

.project-number{
    width: 100%;
    text-align: start;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
}

.project-link{
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    color: #71717A;
    margin-bottom: 0;
    margin-top: 0;
}

.project-link-img{
    width: 35px;
    height: 35px;
}