.skillsWrap{
    margin-top: 15vh;
    width: 70vw;
    min-height: 50vh;
    height: auto;
    margin-bottom: 15vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

.skills-title{
    width: 100%;
    text-align: start;
    margin-left: 4vw;
    font-size: 5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3vw;
}

.skill-image{
    position: relative;
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.skill-image-light{
    background-color: rgba(243, 243, 243, 1);
    box-shadow: inset 9.91px 9.91px 15px #e9e9e9, inset -9.91px -9.91px 15px #e5e5e5;
    transition: background-color 0.6s,box-shadow 0.6s;
}

.skill-image-dark{
    background-color: rgba(24, 24, 24, 0.8);
    box-shadow: inset 9.91px 9.91px 15px #161616, inset -9.91px -9.91px 15px #1A1A1A;
    transition: background-color 0.6s, box-shadow 0.6s;
}

.skill-image img{
    width: 35%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-name{
    position: absolute;
    font-size: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: -2px;
    left: 1vw;
}

.skill-name-dark{
    color: #000;
    transition: color 0.6s;
}

.skill-name-light{
    color: #fff;
    transition: color 0.6s;
}

.skill-type{
    position: absolute;
    font-size: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: -4px;
    right: 1vw;
    border-radius: 25px;
    padding: 2px 10px;
}

.skill-type-light{
    color: #808080;
    border: 1px solid #808080;
    transition: color 0.6s,border 0.6s;
}

.skill-type-dark{
    color: #7F7F7F;
    border: 1px solid #7F7F7F;
    transition: color 0.6s, border 0.6s;
}

@media screen and (max-width: 600px) {
    .skillsWrap{
        width: 90vw;
    }
}

@media screen and (max-width: 1600px) {
    .skills-title{
        font-size: 3rem;
    }

    .skill-type{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 1500px){
    .skill-image{
        width: 12vw;
        height: 12vw;
    }
}

@media screen and (max-width: 1400px){
    .skill-image{
        width: 14vw;
        height: 14vw;
    }
}

@media screen and (max-width: 1000px){
    .skill-image{
        width: 30vw;
        height: 15vw;
        flex-direction: row;
        justify-content: space-between;
    }

    .skill-image img{
        width: 20%;
        margin-left: 2vw;
    }

    .skill-name{
        position: absolute;
        font-size: 12px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* bottom: -2px; */
        /* left: 1vw; */
        bottom: 30%;
        left: 35%;
    }

    .skill-type{
        position: relative;
        font-size: 12px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        bottom: -4px;
        right: 10%;
        border-radius: 25px;
        padding: 2px 10px;
    }
}

@media screen and (max-width: 800px){
    .skillsWrap{
        padding-bottom: 5vh;
    }

    .skill-image{
        width: 70vw;
        height: 20vw;
    }

    .skill-image img{
        width: 20%;
        margin-left: 5vw;
    }

    .skill-name {
        left: 35%;
        font-size: 14px;
    }

    .skill-type{
        right: 15%;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px){
    .skill-image{
        width: 90vw;
        height: 20vw;
    }

    .skill-image img{
        width: 15%;
        margin-left: 5vw;
    }

    .skill-name {
        left: 35%;
        bottom: 25%;
        font-size: 14px;
    }

    .skill-type{
        right: 15%;
        bottom: 0%;
        font-size: 14px;
    }
}