.contact-container{
    width: 70vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}

.contact-title{
    width: 100%;
    text-align: start;
    margin-left: 7vw;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3vw;
}

.contact-form{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    background-color: #181818;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 3vw;
}

.line{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.line:first-of-type::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 0;
    left: 0;
}

.line::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    left: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 0;
}

.message-line{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;

}

.message-title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.macOS{
    align-self: self-start;
    margin-left: 1vw;
    margin-top: 0.6vw;
}

.label{
    width: 10%;
    text-align: start;
    margin-left: 3vw;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-input{
    width: 83.2%;
    height: 5vh;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1vw;
    color: #fff;
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: -3vw;
}

.contact-input-message{
    width: 88.3%;
    height: 30vh;
    background-color: #000;
    border-radius: 12px;
    border: none;
    outline: none;
    padding-left: 1vw;
    padding-top: 0.5vw;
    margin-left: 5%;
    margin-bottom: 1vw;
    color: #fff;
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    resize: none;
}