.contact-container{
    position: relative;
    width: 70vw;
    height: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}

.contact-title{
    width: 100%;
    text-align: start;
    margin-left: 7vw;
    font-size: 5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3vw;
}

.contact-form{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 3vw;
}

.contact-form-dark{
    background-color: #181818;
}

.contact-form-light{
    background-color: #F6F6F6;
}

.line{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.line:first-of-type::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 0;
    left: 0;
}

.line::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    left: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 0;
}

.message-line{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;

}

.message-title{
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.macOS{
    align-self: self-start;
    margin-left: 1vw;
    margin-top: 0.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.mac {
    width: 15px;
    height: 15px;
}

.label{
    width: 10%;
    text-align: start;
    margin-left: 3vw;
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-input{
    width: 83.2%;
    height: 5vh;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1vw;
    font-size: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: -3vw;
}

.contact-input-message{
    width: 88.3%;
    height: 30vh;
    border-radius: 12px;
    border: none;
    outline: none;
    padding-left: 1vw;
    padding-top: 0.5vw;
    margin-left: 5%;
    margin-bottom: 1vw;
    font-size: 1rem;
    resize: none;
}

.contact-input-message-dark{
    background-color: #000;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-input-message-light{
    background-color: #F3F3F3;
    color: #000;
}

.button-line{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1vw;
}

.contact-button{
    all: unset;
    margin-right: 5%;
    width: 5vw;
    height: 5vh;
    margin-bottom: 4vh;
    border-radius: 9px;
    border: 1px solid #fff;
    text-align: center;
}

.contact-button-light{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.contact-button-light:hover{
    cursor: pointer;
    background-color: rgb(0,0,0);
    color: #fff;
}

.contact-button-dark{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.contact-button-dark:hover{
    cursor: pointer;
    background-color: rgb(255,255,255);
    color: #000;
}

.message-sent{
    position: absolute;
    top: 150px;
    width: auto;
    height: 5vh;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 9px;
}

.message-sent-title{
    font-size: 1rem;
    margin-left: 1vw;
    color: #fff;

}

.video-error{
    width: 50px;
    height: 50px;
}

.video-success{
    width: 25px;
    height: 25px;
}