.navbarWrap{
    width: 66%;
    height: 60px;
    top: 32px;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo{
    width: 150px;
}

.navbarLogo:hover{
    cursor: pointer;
}

.navBarLeft{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarLinks{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.navbarReso{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarResoIcon:hover{
    cursor: pointer;
}