.navbarWrap{
    width: 70%;
    height: 60px;
    top: 32px;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s ease-in-out;
}

.navbarLogo{
    width: 150px;
}

.navbarLogo:hover{
    cursor: pointer;
}

.navBarLeft{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarLinks{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.linkLight{
    color: #fff;
    transition: color 0.6s;
}

.linkDark{
    color: #000;
    transition: color 0.6s;
}

.navbarReso{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleButton{
    margin-right: 20px;
}

.navbarResoIcon{
    transition: all 0.6s;
}

.navbarResoIcon:hover{
    cursor: pointer;
}

.pip-navbar{
    width: 2px;
    height: 24px;
}

.pip-navbar-light{
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.6s;
}

.pip-navbar-dark{
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.6s;
}

.dropdown{
    display: none;
}

@media screen and (max-width: 1500px){
    .navbarReso{
        width: 15%;
    }    
}

@media screen and (max-width: 1200px){
    .navbarWrap{
        justify-content: space-around;    
    }

    .navbarLink{
        font-size: 14px;
    }

    .navBarLeft{
        width: 75%;
    }

    .navbarReso{
        width: 25%;
    }
}

@media  screen and (max-width: 800px){
    .navbarWrap{
        display: none;
    }

    .navbarLittle{
        width: 100%;
        height: 60px;
        bottom: 0;
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(15px);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    .iconActive-light{
        border-radius: 9px;
        background-color: rgba(255, 255, 255, 0.8);
        transition: background-color 0.6s;
    }

    .iconActive-dark{
        border-radius: 9px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: background-color 0.6s;
    }

    .navbarLittleIcon{
        width: 30px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: all 0.6s;
    }

    .dropdown{
        position: fixed;
        width: 30%;
        height: 5vh;
        bottom: 62px;
        right: 0;
        background-color: transparent;
        z-index: 100;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .dropdown{
        width: 40%;
    }
    
}