.navbarWrap{
    width: 66%;
    height: 60px;
    top: 32px;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbarLogo{
    width: 150px;
}

.navbarLogo:hover{
    cursor: pointer;
}

.navBarLeft{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarLinks{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLink{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.linkLight{
    color: #fff;
}

.linkDark{
    color: #000;
}

.navbarReso{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleButton{
    margin-right: 20px;
}

.navbarResoIcon:hover{
    cursor: pointer;
}

.pip-navbar{
    width: 2px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.25);
}