*{
  scroll-behavior: smooth;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.dark {
  background-color: #000;
}

.light {
  background-color: #fff;
}

.topGradient {
  top: 0;
  position: fixed;
  height: max-content;
  z-index: -1;
}

.botGradient {
  bottom: 0;
  position: fixed;
  height: max-content;
  z-index: -1;
}

@media screen and (min-width:1920px) {
  .topGradient {
    min-width: 100%;
    width: auto;
  }
}