.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  z-index: 1;
}

.topGradient {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width:1920px) {
  .topGradient {
    min-width: 100%;
    width: auto;
  }
}